body{
    margin: 0;
    font-size: 13px;
    line-height: 1.231;
    font-family: Helvetica, Arial, sans-serif;
}
#main {
    padding: 25px;
}
table {
}
caption, th {
    font-family: Georgia, Times, sans-serif;
}
caption {
    font-style: italic;
}
th, td, caption {
    text-align: left;
}
th, td {
    padding: 0 15px 0 0;
}
tr:first-child {
    border-bottom: 1px dotted #ccc;
}
.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}
