body{
    margin: 0;
    font-size: 13px;
    line-height: 1.231;
    font-family: Helvetica, Arial, sans-serif;
    padding: 25px;
}
a {
    color: #4183C4;
    text-decoration: none;
}
#main {
    padding: 25px;
}
table {
    margin: 0 0 25px 0;
}
caption, th {
    font-family: Georgia, Times, sans-serif;
}
caption {
    font-style: italic;
    font-size: 14px;
    margin: 0 0 10px 0;
}
th, td, caption {
    text-align: left;
}
th, td {
    padding: 0 15px 0 0;
}
tr:first-child {
    border-bottom: 1px dotted #ccc;
}
fieldset {
    margin: 0 0 25px 0;
    border: 1px solid #ccc;
    display: inline-block;
}
legend {
    font-family: Georgia, Times, sans-serif;
    font-style: italic;
    font-size: 14px;
}
fieldset label {
    width: 150px;
    display: inline-block;
}
.result-label {
    float: left;
    margin: 0 5px 0 0;
}
#with-options-result {
    display: inline-block;
}
/* Clearfix */
.cf:before,.cf:after{content:"";display:table;}
.cf:after{clear:both;}
.cf{zoom:1;}

